
.containerApp{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(90, 187, 81);
}
.containerApp .containerHeader{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgba(255, 255, 255, 0.644);
}
.containerApp .containerContext{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.containerApp .ressetBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 5;
}
.containerApp .ressetBtn > button{
    width: 70px;
    height: 40px;
    background-color: red;
    border-radius: 20px;
}


