
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(134, 134, 134);
}
.container .containerNavbar{
    width: 100%;
    height: 10%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .containerContent{
    width: 100%;
    height: 90%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

